    /*.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;
    font-style: normal;*/
}
body{
    background-color: #f4d04e;
}

a{
    color: #000000;
    text-decoration: none;
}

#Card{
    width: 384px;
    height: 522px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px #000000;
    padding: 1.2rem;
    margin: 3rem auto;
}

.class-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-img img{
    border-radius: 10px;
}

.card-title{
    margin-top: 1.2rem;
    margin-left: 5px;
}

.yellow-bg{
    background-color: #f4d04e;
    padding: 4px 12px;
    border-radius: 4px;
    width: 90px;
    height: 29px;
}
.publish-date{
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.blog-title{
    font-size: 24px;
    font-size: 800;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.blog-title:hover {
    color: #f4d04e;
}

.describe{
    color: #6B6B6B;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.blogger-avatar{
    display: flex;
    align-items: center;
}

.blogger-avatar h4 {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}

.blogger-avatar img {
    width: 32px;
    height: 32px;
}
